<div>
    <app-selector-numerico [minimo]="0" [maximo]="20" #selector> </app-selector-numerico>
    <button (click)="selector.fijar(1)">Boton de 1</button>
    <button (click)="selector.fijar(5)">Boton de 5</button>
    <button (click)="selector.fijar(10)">Bton de 10</button>
</div>

<hr>
<hr>

<div>
    <app-selector-numerico [minimo]="0" [maximo]="35" #selector2> </app-selector-numerico>
    <button (click)="fijarSelector2(1)">Boton de 1</button>
    <button (click)="fijarSelector2(10)">Boton de 10</button>
    <button (click)="fijarSelector2(25)">Boton de 25</button>
</div>

<hr>
<hr>

<div>
    <app-listadoarticulos [articulos]="articulos"></app-listadoarticulos>
</div>

<router-outlet></router-outlet>
